.hstyle {
    padding: 10px;
    margin: 10px;
    background: #08c;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.hstyle:hover {
    background: #0af;
}

* {
    box-sizing: border-box;
}

#wrapper {
    width: 1100px;
    margin: 30px auto;
    border: 1px solid black;
}

#header {
    height: 200px;
    padding: 20px;
    border: 1px solid black;
}

#container {
    display: flex;
}

#content {
    width: 660px;
    height: 700px;
    padding: 20px;
    border: 1px solid black;
}

#left {
    width: 200px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
}

#right {
    width: 200px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
}

#footer {
    height: 200px;
    padding: 20px;
    border: 1px solid black;
}