.hstyle {
    padding: 10px;
    margin: 10px;
    background: #08c;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.hstyle:hover {
    background: #0af;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    margin-bottom: 30px;
}

.wrapper.line1 {
    background-color: #008040;
    color: white;
    text-align: center;
}
.wrapper.line2 {
    background-color: #ff0e06;
    color: white;
    text-align: center;
}
.wrapper.line3 {
    background-color: rgb(221, 145, 4);
    color: white;
    text-align: center;
}
.center {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.center1{
text-align: justify;
}